<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>contact</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Thanks for getting in touch with us<h1>
      <p>you will receive a confirmation email very soon</p>
      <h1>your name:<%= data.who %></h1>
      <h1>your department:<%= data.department %></h1>
      <h1>your email:<%= data.email %></h1>

  </body>
</html>
